{{> /layout/header}}

<div class="container p-5">

    <!-- 요청을 하면 localhost:8080/join POST로 요청됨
    username=사용자입력값&password=사용자값&email=사용자입력값 -->

    <div class="card">
        <div class="card-header"><b>회원가입을 해주세요</b></div>
        <div class="card-body">
            <form action="/join" method="post" enctype="application/x-www-form-urlencoded" onsubmit="return valid()">
                <div class="mb-3">
                    <input type="text" class="form-control" placeholder="Enter username" id="username">
                    <div>
                        <button type="button" onclick="check()">ID 중복 체크</button>
                    </div>
                </div>

                <div class="mb-3">
                    <input type="password" class="form-control" placeholder="Enter password" id="password">
                </div>
                <div class="mb-3">
                    <input type="email" class="form-control" placeholder="Enter email" id="email">
                </div>
                <button class="btn btn-primary form-control">회원가입</button>
            </form>
        </div>
    </div>
</div>

<script>
    let isCheck = false;

    function check() {
        let username = $(`#username`).val();

        $.ajax({
            url: "/api/username-same-check?username="+username,
            type: "get",
        }).done((res)=>{
            if (res.body === true) {
                isCheck = true;
                alert("사용 가능한 ID입니다.");
            } else {
                isCheck = false;
                alert("이미 사용중인 ID입니다.");
            }
        }).fail((res)=>{
            alert(res.responseJSON.msg);
        });
    }

    function valid() {
        if (isCheck == false) {
            alert("ID 중복 체크를 해주세요.");
        }
        return isCheck;
    }
</script>

{{> /layout/footer}}